package component

templ If(cond bool, comp templ.Component) {
    if cond {
        @comp
    }
}

templ Link(name, href string, attr templ.Attributes) {
    <a href={ templ.URL(href)} {attr...}>{name}</a>
}
