package component

import "strings"

templ Label(name string, attr templ.Attributes) {
	<label { attr... }>{ strings.Title(name) }</label>
}

templ Input(attr templ.Attributes) {
	<input { attr... }/>
}

templ InputSubmit(value string) {
	<input type="submit" value={ value }/>
}

templ InputHidden(name, value string) {
	<input type="hidden" name={ name } id={ name } value={ value }/>
}

templ InputCSRF(csrf string) {
	@InputHidden("csrf", csrf)
}

templ InputEmail() {
	@Input(templ.Attributes{"id": "email", "name": "email", "type": "email", "required": true})
}

templ Password(attr templ.Attributes, value string) {
	<input type="password" { attr... }/>
}

templ TextArea(attr templ.Attributes, value string) {
	<textarea { attr... }>{ value }</textarea>
}

type SelectOption struct {
	ID       string
	Value    string
	Disabled bool
}

type SelectOptions []SelectOption

templ Select(attr templ.Attributes, options SelectOptions, selected string) {
	<select { attr... }>
		for _, opt := range options {
			if opt.Disabled {
				<option disabled>{ opt.Value }</option>
			} else if opt.ID == selected {
				<option value={ opt.ID } selected>{ opt.Value }</option>
			} else {
				<option value={ opt.ID }>{ opt.Value }</option>
			}
		}
	</select>
}
